 <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Attending</th>
    <th>Food Choice</th>
    <th colspan="2"></th>
  </tr>
 
<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.first_name %></td>
    <td><%= guest.last_name %></td>
    <% if guest.rsvp == true %>
    	<td>Yes</td>
    	<% else %>
    	<td>No</td>
    <% end %>
    <% if guest.food == 'vegetarian' %>
    	<td>Vegetarian</td>
    	<% elsif guest.food == 'meat' %>
      <td>Meat</td>
    	<% else  %>
    	<td>NA</td>
    <% end %>
    <td><%= link_to 'Show', guest_path(guest) %></td>
    <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
  </tr>
<% end %>
</table>
