<div id="bg_wedding_party"></div>
<div id="wedding_party">
<h1>The Wedding Party</h1>
</div>
<div class='wedding_party_home_link'>
<%= link_to 'home', controller: 'welcome', action: 'index' %>
</div>

<div class="groomsmen">
</div>
<div class="bridal_party">
</div>

<script type="text/javascript">
	
	    function appendWeddingPartyContainers (){
	        
	        var names = ['jo', 'blow', 'lo']

	        function weddingPartyContainers(name){
	            return '<div class="wpContainers"> \
	                    <h1>'+name+'</h1>\
	                    </div>'
	        }

	        for(var i=0; i < names.length; i++){
	            $('.bridal_party').append(weddingPartyContainers(names[i]))
	            $('.groomsmen').append(weddingPartyContainers(names[i]))
	        }
	    }

	appendWeddingPartyContainers()


</script>