<div id="bg_wedding_party"></div>
<div id="wedding_party">
<h1>The Wedding Party</h1>
</div>
<div class='wedding_party_home_link'>
<%= link_to 'home', controller: 'welcome', action: 'index' %>
</div>

<div class="groomsmen">
	
</div>
<div class="bridal_party">
</div>

<div class="cher" style='display:none'>
	<%= image_tag('me.jpg')%>
</div> 






<script type="text/javascript">
	
	    function appendWeddingPartyContainers (){
	        
	        var wpBridal = [
	        	{ 
	        		"name" : 'Chermaine',
	        		"position" : 'Matron of Honor',
	        		'klass' : '.cher',
	        		'ice_cream' : 'Macadamia Nut',
	        		'movie' : 'Up'
	        	},

	        	{
	        		"name" : 'Amanda',
	        		"position" : 'Bridesmaid',
	        		'klass' : '.cher',
	        		'ice_cream' : 'Macadamia Nut',
	        		'movie' : 'Up'


	        	},

	        	{
	        		"name" : 'Jasmine',
	        		"position" : 'Bridesmaid',
	        		'klass' : '.cher',
	        		'ice_cream' : 'Macadamia Nut',
	        		'movie' : 'Up'


	        	},
	        	{
	        		"name" : 'Jenn',
	        		"position" : 'Bridesmaid',
	        		'klass' : '.cher',
	        		'ice_cream' : 'Macadamia Nut',
	        		'movie' : 'Up'


	        	}

	        ]

	        function weddingPartyContainers(wpBridal){
	        	return '<div class="flip"> \
	        			        <div class="card"> \
	        			            <div class="face front"> \
	        			                <div class="wpContainers" id="'+wpBridal.name+'"> \
	        			                	<div class="wedding_party_names"><h2>'+wpBridal.name+'</h2></div> \
	        			                	<div class="wedding_party_pic_con"></div> \
	        			                	<div class="info_container"> \
	        			                		<h4>Favorite Ice Cream : '+wpBridal.ice_cream+' </h4> \
	        			                		<h4>Favorite Disney Movie : '+wpBridal.movie+' </h4> \
	        			                		<hr> \
	        			                		<h3>'+wpBridal.position+'</h3> \
	        			                	</div> \
	        			                	<div class="style_declarations"></div> \
	        			                </div> \
	        			            </div> \
	        			            <div class="face back"> \
	        			                Back \
	        			            </div> \
	        			        </div> \
	        			    </div> '

	            // return '<div class="wpContainers" id="'+wpBridal.name+'"> \
	            // 			<div class="wedding_party_names"><h2>'+wpBridal.name+'</h2></div> \
	            // 			<div class="wedding_party_pic_con"> \
	            // 			</div> \
	            // 			<div class="info_container"> \
		           //  			<h4>Favorite Ice Cream : '+wpBridal.ice_cream+' </h4> \
		           //  			<h4>Favorite Disney Movie : '+wpBridal.movie+' </h4> \
		           //  			<hr> \
		           //  			<h3>'+wpBridal.position+'</h3> \
	            // 			</div> \
	            // 			<div class="style_declarations"></div> \
	            //         </div>'
	        }

	        for(var i=0; i < wpBridal.length; i++){
	            $('.bridal_party').append(weddingPartyContainers(wpBridal[i]))
	            $('.groomsmen').append(weddingPartyContainers(wpBridal[i]))
	            var pic = $(wpBridal[i].klass).html()
	            $('#'+wpBridal[i].name+' .wedding_party_pic_con').append(pic)
	        }
	    }

	    function bgOverlay() {
    	 	var height = $(document).height()
    	 	$('#bg_wedding_party').css('height', height)   
	    }
	    	window.addEventListener("load", bgOverlay, false);
	    	window.addEventListener("resize", bgOverlay, false);

	appendWeddingPartyContainers()
	    	$('.flip').click(function(){
        $(this).find('.card').addClass('flipped').mouseleave(function(){
            // $(this).removeClass('flipped');
        });
        return false;
    });



</script>