<h1>Ben And Nicole</h1>

<%= link_to 'RSVP', controller: 'guests' %>
<%= link_to 'About Us', controller: 'welcome', action: 'about' %>
<%= link_to 'Meet the Bridal Party', controller: 'welcome', action: 'bridal_party' %>
<%= link_to 'Wedding Logistics', controller: 'welcome', action: 'logistics' %>
