

#form_rsvp, #form_error, #form_food {
	display: none;
}

#bg_landing, #bg_about_us, #bg_wedding_party, #bg_wedding_details, .bg_rsvp, #bg_gallery {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

#bg_landing {
	background-image: url('landing.JPG');
	background-position: center;
}

#bg_about_us {
	background-image: url('yogurtland.jpg');
}

#bg_gallery {
	background-image: url('chewbg.jpg');
	background-color: black;
}

.bg_rsvp {
	background-image: url('rsvp.JPG');
	background-position: center;
}

#bg_wedding_details {
	background-image: url('lounge.jpg');
	background-position: center;
}

#bg_wedding_party {
	position: fixed;
	background-image: url('aboutus.JPG');
}

#black_overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);

}

.about_pic {
	background-image: url('wedding_party.JPG'); 
	background-size: cover;
	background-position: center;
	width: 40%;
	text-align: center;
	float: left;
	position: absolute;
	top:0;
	left: 25px;
	bottom: 25px;
}

.about_home_link, .logistics_home_link, .rsvp_home_link {
	position: fixed;
	font-family: 'Waltograph';
	margin-top: 15px;
	margin-left: 25px;
	z-index: 10;
}

.about_home_link a, .logistics_home_link a, .rsvp_home_link a {
	text-decoration: none;
	color: black;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
	font-size: 3em;

}


.about_content_con {
	width: 58%;
	height: 90%;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	font-size: 1.5em;
	overflow: scroll;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}

.about_content {
	width: 85%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	font-size: 1.2em;
}

.about_content p {}

.about_pic img {
	/*width: 90%;
  	margin: 25px auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(0,0,0,.5);*/

}



#landing , #landingmobile{
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	bottom: 25px;
	left: 0;
}

#landing ul {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	font-size: 1.2em;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;

}

#landing ul li {
	display: inline-block;
	margin: 0 20px;
	/*float: left;
	margin: 2%;
	font-size: 1.5em;
	position: relative;
	margin-top: 0;*/
}

#landing ul li a, #landing_mobile ul li a {
	text-decoration: none;
	color: rgba(255,255,255,.8);
}

#landing ul li a:hover {
	color: grey;
}

#landing_mobile {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

#landing_mobile ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	border: 2px solid rgba(255,255,255,0.2);

}
#landing_mobile ul li {
	border: 2px solid rgba(255,255,255,0.2);
	text-align: center;
	font-size: 2em;
	padding: 20px;

}

.mobile_button {
}

.upper_left {
	height: 150px;
	width: 50%;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(255,255,255,0.2);

	position: absolute;
	left: 0;
	top:0;
}

.upper_right {
	height: 150px;
	width: 50%;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(255,255,255,0.2);

	position: absolute;
	right: 0;
	top:0;
}
.lower_left {
	height: 150px;
	width: 50%;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(255,255,255,0.2);


	left: 0;
	bottom:0;
}
.lower_right {
	height: 150px;
	width: 50%;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(255,255,255,0.2);


	right: 0;
	bottom:0;
}

.center {
	position: absolute;
	left: 0;
	right:0;
	text-align: center;
	font-family: 'Waltograph';

}

.mobile_button .mickeyUi {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0; 
	font-size: 2.2em; 
	text-align:center; 
	line-height: 150px;
	font-family: 'Waltograph'
}

.mobile_button .mickeyUi a {
	text-decoration: none;
	color: black;
	position: absolute;
	left: 0;
	right: 0;

}
.mobile_button .center .mickeyUi {
	font-family: 'Waltograph UI';
	text-align: center;
	line-height: 300px;
	font-size: 10em;
}

.center a {
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 2px 0 black;
	z-index: 10;
	text-decoration: none;
}

.center_mobile {
	font-size: 3em;
	font-family: 'Waltograph';
	display: inline; 
}

.center_mobile a {
	z-index: 10;
	text-decoration: none;
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 2px 0 black;
	line-height: 300px;
	position: relative;
}



#landing_box {
	height: 600px;
	width: 80%;
	position: absolute;
  	top: 50%;
  	left: 0;
  	right: 0;
  	margin: -300px auto 0;
}

#title_landing {
	width: 100%;
	position: relative;
	height: 90px;
	margin: -80px auto 0;
	text-align: center;
	font-size: 4em;
}

#title_landing h1{
	font-weight: bolder;
	color: rgba(0,0,0,0.9);
	/*text-shadow: 2px 2px #fff;*/
	text-shadow:
    -5px -5px 0 #fff,
    1px -1px 0 #fff,
    -2px 1px 0 #fff,
    1px 1px 0 #fff;  
    /*-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  */
	/*font-family: 'Calligraffitti', cursive;*/
	/*font-family: 'Codystar', cursive;*/
	font-family: 'Waltograph';
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
}

#edit_rsvp h1 {
	font-weight: bolder;
	color: black;
	text-shadow: 2px 2px #fff;
   	width: 100%;
	position: relative;
	height: 90px;
	margin: -80px auto 0;
	text-align: center;
	font-size: 4em;
	font-family: 'Waltograph';
	margin: 0;
    min-height: 100px;
    line-height: 100px;
}

#date {
	font-size: 2.5em;
	height: 90px;
	
	text-align: center;
	/*position: absolute;
	top:0;
	left: 0;
	right: 0;*/
}

#date h2 {
	font-family: 'Waltograph';
	display: inline-block;
	/*font-family: 'Share Tech', sans-serif;*/
	color: white;
	text-shadow:
    -2px -3px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	line-height: 50px;
}

.mickey, .mickeyUi {
	float: left;
	margin: 0 10px;
	font-family: 'Waltograph';
}

.mickeyUi {
	font-family: 'Waltograph UI';
	color: black;
	text-shadow:
    -1px -1px 5px #eee,
    1px -1px 5px #eee,
    -1px 1px 5px #eee,
    1px 1px 5px #eee;  
}

#countdown {
	font-family: 'Waltograph';
	color: white;
	text-shadow: 2px 2px #000;

	
	width: 100%;
	font-size: 3.5em;
	text-align: center;
	position: absolute;
	bottom: 150px;
	left: 0;
	right: 0;
	height: 90px;
	margin: 0 auto;
	line-height: 90px;
}

#logistics, #gallery_title {
	width: 100%;
	text-align: center;
}

#wedding_party {
	width: 100%;
	background-color: transparent;
	position: absolute;
	overflow: hidden;
	top: 450px;
	left: 0;

}

#wedding_party h1 {
	text-align: center;
	background-color: #eee;
}

#gallery_title h1 {
	color: white;
	font-family: 'Waltograph';
	font-size: 5.5em;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    min-height: 100px;
    line-height: 100px;
    
}

#wedding_party h1 {
	color: black;
	font-family: 'Waltograph';
	font-size: 5.5em;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
    min-height: 100px;
    line-height: 100px;
}

.wedding_party_home_link {
	position: fixed;
	font-family: 'Waltograph';
	top: 10px;
	left: 25px;
	z-index: 10;
}

.wedding_party_home_link a {
	text-decoration: none;
	color: black;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
	font-size: 3em;

}
.gallery_home_link {
	position: fixed;
	font-family: 'Waltograph';
	left: 25px;
	top: 25px;
	z-index: 10;
	line-height: 35px;
}

.gallery_home_link a {
	text-decoration: none;
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	font-size: 3em;

}





.bridal_party, .groomsmen {
	width: 50%;
	background-color: #202020;
}

.bridal_party {
	float: left;
}

.groomsmen {
	float: left;
}

.wpContainers {
	width: 570px;
	height: 225px;
	position: relative;
	margin: 55px auto;
	background-color: #eee;
	border-top-left-radius: 2em ; 
	border-top-right-radius: 2em ; 

}

#logistics {
	font-family: 'Waltograph';
	font-size: 3em;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
	font-size: 3em;
}

#enter_code, .created_outer {
	width: 85%;
	height: 450px;
	background-color: rgba(0,0,0, .5);
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: -225px auto 0;
}


#enter_code h1 {
	width: 100%;
	text-align: center;
	font-family: 'Waltograph';
	/*height:60px;*/
	/*line-height: 60px;*/
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
    margin-top: -125px;
}

#enter_code p {
	font-family: 'Waltograph';
	font-size:2em;
}

.enter_code_tag {
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

#enter_code .form , .created_inner{
	width: 95%;
	height: 90%;
	background-color: rgba(255,255,255, .8);
	/*background-color: white;*/
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
}

#code_form {
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -50px auto 0;
	text-align: center;
}

.code_submit, .rsvp_submit, .rsvp_update {
	margin-left: 20px;
	height: 40px;
	line-height: 40px;
	width: 100px;	
	background-color: rgba(0,0,0, .5);
	font-size: .7em;
	color: white;
	font-family: 'Waltograph'
}

.rsvp_submit {
	margin-left: 0;
}

.rsvp_update {
	width: 150px;
	font-size: .8em;
	text-shadow: 2px 2px #000;

}

#form_error {
	color: red;
	position: absolute;
	bottom: 10px;
	left:0;
	right: 0;
	margin: 0 auto;
}


#form_rsvp, #edit_rsvp_form {
	position: absolute;
	left:0;
	width: 100%;
	height: 150px;
	right: 0;
	top:20%;
	margin: -75px auto 0;
	text-align: center;
}

#edit_rsvp_form {
	top: 10%;
}

#edit_rsvp_form p {
	font-size: 2em;
	font-family: 'Waltograph'
}

#form_rsvp p, {
	width: 100%;
	text-align: center;
}

.overview  {
	position: absolute;
	left:0;
	right: 0;
	top:0;
	margin: -25px auto 0 ;
	width: 80%;
	font-family: 'Waltograph';
	font-size:2em;
	text-align: center;
}

.name_txt_fields {
	height: 30px;
	line-height: 30px;
	font-size: .6em;
	width: 250px;
}

.overview .names {
	font-size: 1.2em;
}

.overview a {
	text-decoration: none;
	position: relative;
}

.overview a:not(.rsvp_link_mistake){
	color: white;
	border: 1px solid black;
	padding: 10px;
	background-color: rgba(0,0,0, .7);
	text-shadow: 2px 2px #000;
	top:25px;

}

.rsvp_link_mistake {
	background-color: rgba(0,0,0, .7);
	color: white;
	margin-right: 20px;
	text-shadow: 2px 2px red;
	border: 1px solid black;
	padding: 10px;
	padding-left: 15px;
	padding-right: 22px;
	left: 15px;
}

#edit_food {
	display: none;
}

.circle, .circle2 {
	width: 650px;
	height: 650px;
	background-color: rgba(0,0,0,.6);
	border-radius: 650px;
	position: absolute;
	top:0;
}

.circle2 {
	width: 600px;
	height: 600px;
	border-radius: 600px;
	background-color: rgba(255,255,255,.8);
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -300px auto 0;
}

.circle_container {
	position: absolute; 
	width: 1150px;
	left: 50%;
	margin-left: -575px;
	top: 150px;
}

.circle_text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	text-align: center;
}

#innerpic {
	background-image: url('logistics.JPG');
	background-size: cover	;
	z-index: 10;
}

.circle_text h1 {
	font-family: "Rokkitt", serif;
	font-size: 3.5em;
	color: #191970;
	text-shadow: 2px 2px white;
	margin: 0;
}

.circle_text h2 {
	margin-top: 50px;
}

#tal_link a {
	color: #191970;
	font-family: 'Waltograph';
	text-decoration: none;
	font-size: 2em;

}

.wedding_party_names {
	background-color: rgb(212,212,212);
	border-top-left-radius: 20px; 
	border-top-right-radius: 20px; 


}

.wedding_party_names h2 {
	color: rgb(48,48,48);
	padding: 3px;
	padding-left: 10px;
	font-family: 'Waltograph'
}

.style_declarations {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0px; line-height: 0%; width: 0px;
border-top: 30px solid transparent;
border-bottom: 30px solid #202020;
border-left: 30px solid transparent;
border-right: 30px solid #202020;
}

.wedding_party_pic_con {
	position: absolute;
	left: 0;
	width: 188px;
	top:0;
	bottom:0;
	background-size: cover;

}

.wedding_party_pic_con img {
	width: 187px;
	height: 187px;
}

.info_container {
	width: 370px	;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.info_container h4 {
	padding-left: 10px;
	font-size: 1.1em;
	font-family: 'Rokkitt', serif;
}

.info_container h3 {
	padding-left: 10px;
	font-family: 'Codystar', cursive;

}

.flip {
  -webkit-perspective: 800;
    position: absolute;
    top:38px;
    bottom: 0;
    left: 0;
    right:0;
}
.flip .card.flipped {
  -webkit-transform: rotateY(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotateY(-180deg);
    background: #eee;
    color: black;
    cursor: pointer;
    overflow: scroll;
}

.back p {
	padding: 0 25px;
	font-family: 'Rokkitt', serif;
	font-size: 1.2em;
}

#wedding_party_landing {
	width: 100%;
	height: 500px;
	background-image: url('wp.JPG');
	background-size: cover;
	background-position: center;
	position: absolute;
	top:0;
	left: 0;

}

.style_image {
	width: 600px; 
	height: 300px; 
	top: 0px; 
	left: 0px; 
	-webkit-transform: perspective(2000px); 
	position: absolute;
}

.slides_container img {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.test {
	height: 100%;
}

.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	background-image: url('a11.png');
}

#footer_mobile {
	display: none;
}


#enter_code #rsvpTitle {
	margin-top: -50px;
}

.br {
		display: none;
	}

#landingmobile {
	display: none;
}

.food_choices {
	display: none;
}

#landingmobile a {
	text-decoration: none;
	color:white;
}

.overview p:not(:first-child){
	margin: 15px auto;
}

.overview p:nth-child(2){
	margin-top: -25px;
}

.br2 {
	display: none;
}

.colonMobile {
	display: none;
}


@media only screen and (max-width: 1160px) {

	.groomsmen , .bridal_party {
		float: none;
		margin: 0 auto;
	}

	.wpContainers {
		left: 50%;
		margin-left: -285px;
	}
}



@media only screen and (min-width: 640px) and (max-width: 799px){
	#title_landing {
		font-size: 3em;
		margin: 0 auto;
	}

	#date h2 {
		line-height: 10px;
	}

	#countdown {
		font-size: 3em;
	}

	#landing ul li {
		margin: 0 10px;
	}

	#enter_code #rsvpTitle {
	margin-top: -100px;
	}
	.super {
		display: none;
	}

	.br {
		display: block;
	}

	#form_rsvp form {
		margin-top: -60px;
	}
	#form_rsvp {
		width: 95%;
		margin: -40px auto 0;
	}

	.br2 {
		display: none;
	}

	.about_pic {
		width: 45%;
		left:0;
	}

	.about_content {
		width: 75%;
	}

	#bg_about_us {
		background-position: center;
		background-size: cover;
	}


}

@media only screen and (min-width: 480px) and (max-width: 639px){
	#title_landing {
		font-size: 2.8em;
		margin: 0 auto;
	}

	#date {
		font-size: 2.2em;
	}

	#date h2 {
		line-height: 10px;
	}

	#countdown {
		font-size: 2.5em;
	}

	#landing ul li {
		margin: 0 4px;
		font-size: 0.9em;
	}

	#enter_code #rsvpTitle {
	margin-top: -100px;
	}
	.super, .secret {
		display: none;
	}

	#enter_code {
		width: 95%;
	}

	.br {
		display: block;
	}

	#form_rsvp form {
		margin-top: -60px;
	}

	#form_rsvp {
		width: 100%;
		margin: -40px auto 0;
	}

	.overview {
		left: 10px;
	}

	.created_outer {
		width: 100%;
	}

	#edit_rsvp_form {
		width: 100%;
		top:10%;
	}

	.br2 {
		display: none;
	}
	.about_pic {
	display: none;
	}
	.about_content_con {
		width: 99.5%;
		right:0px;
		left:0px;
	}

	

	#bg_about_us {
		background-position: center;
		background-size: cover;
	}

	.bridal_party, .groomsmen {
		width: 100%;
	}

	.wpContainers {
		width: 411px;
		margin-left: -200px;
	}

	.info_container {
		width: 50%;
	}

	.favorite {
		display: none;
	}

	
}

@media only screen and (min-width: 480px) and (max-width: 540px){
	#enter_code {
		width: 100%;
	}

	#enter_code p {
		font-size: 1.8em;
	}

	.overview a,.overview a:not(.rsvp_link_mistake) {
		padding: 5px;
	}

	.rsvp_link_mistake {
		margin-right: 5px;
	}

	.created_outer {
		width: 90%;
	}

	.wantsM {
		display: none;
	}
	.created_outer {
		width: 100%;
	}
	#edit_rsvp_form {
		width: 100%;
		top:10%;
	}

	#edit_rsvp_form p {
		font-size: 1.8em;
	}


}



@media only screen and (max-width: 479px) {
	#title_landing {
		font-size: 2em;
	}

	#title_landing h1 {
		top: 30px;
	}

	#date {
		font-size: 1.8em;
	}

	#date h2 {
		line-height: 10px;
	}
	#countdown {
		display: none;
	}

	#landing {
		display: none;
	}

	#landingmobile {
		height: 40px;
	}
	#footer_mobile {
		display: block;
	}
	#enter_code #rsvpTitle {
	margin-top: -125px;
	font-size: 1.7em;
	}
	.super, .secret {
		display: none;
	}
	.wantsM, .choiceM {
		display: none;
	}
	.colonMobile {
		display: inline-block;
	}


	#enter_code {
		background-color: transparent;
		width: 100%;
		top:0;
		margin: 0 auto;
		height: 100%;
	}

	#enter_code .form,  {
		background-color: rgba(255,255,255,0.5);
		height:100%;
	}

	#enter_code p {
		font-size: 1.5em;
	}

	.enter_code_tag {
		width: 125px;
	}

	.code_submit {
		width: 75px;
	}

	#form_error h1 {
		margin-top: -275px;
	}

	#landingmobile {
		display: block;
	}

	.br, .food_choices {
		display: block;
	}

	#form_rsvp form {
		margin-top: 0px;
	}

	#form_rsvp, .created_outer {
		width: 100%;
	}

	.wants {
		display: none;
	}

	.created_outer {
		background-color: none;
		height: 100%;
		width: 100%;
		top:0;
		margin: 0 auto;
	}

	.overview p {
		margin-left: 10px;
	}

	.overview p:not(:first-child){
		margin-left: 10px;
	}

	.overview {
		font-size: 1.8em;
	}

	.overview a {
		text-align: center;
	}

	.rsvp_link_mistake {
		margin-left: 10px;
	}

	.overview a:not(.rsvp_link_mistake){
		top: 50px;
		margin-left: 10px;
	}

	.created_outer {
		width: 100%;
	}
	.created_inner {
		width: 95%;
	}
	#edit_rsvp_form {
		width: 100%;
		top:10%;
		font-size: .8em;
		margin: -65px auto 0;
	}

	#edit_rsvp h1 {
		display: none;
	}

	.br2 {
		display: block;
	}

	.about_pic {
		display: none;
	}
	.about_content_con {
		width: 100%;
	}

	#bg_about_us {
		background-position: center;
		background-size: cover;
	}

	.wpContainers {
		width: 411px;
		margin-left: -200px;
	}

	.info_container {
		width: 55%;
	}

	.favorite {
		display: none;
	}

	#wedding_party h1 {
		font-size: 3.5em;
	}

	.name_txt_fields {
	height: 25px;
	line-height: 25px;
	font-size: .6em;
	width: 250px;
	}

	.rsvp_update {
		margin-top: -10px;
	}


}

@media only screen and (max-width: 400px) {
	#title_landing {
		font-size: 1.5em;
		margin: -20px auto;
	}

	#date {
		font-size: 1.5em;
	}

	.code_submit {
		width: 65px;
		margin-left: 5px;
	}
}

